# Individual files
.DS_Store
Readme_private.md
override.tf
override.tf.json

# File mask
*.bak
*.cache
*.db
*.gz
*.iml
*.log
*.project
*.retry
*.tmp
*.zip
*_override.tf
*_override.tf.json
*.tfvars
*.tfstate
*.tfstate.*
**/.terraform/*

# Folders
.idea/
.git/
inventory/
group_vars/
log/
tmp/